.row
	.row
		.col-lg-3.pull-right
			.input-group.m-b.pull-right
				a(ui-sref="app.os-manter")
					button.btn.btn-success Nova OS
		.col-lg-4.pull-right
			.input-group.m-b
				span.input-group-addon
						em.fa.fa-sort-amount-desc
				select.form-control
					option Por data limite de atendimento
					option Por data de agendamento
		.col-lg-5
			tickit-filtros
	.row
		.col-lg-12.mt
			.row
				.col-md-12
					uib-pagination.pagination-sm.pull-right(
						total-items='totalItems', 
						ng-model='currentPage', 
						max-size='maxSize', 
						boundary-links='true',
						ng-change='pageChanged()',
						first-text="«",
						previous-text="‹",
						next-text="›",
						last-text="»")			
			.row
				.col-md-12			
					.table-responsive.table-striped.table-bordered.table-hover
						table.table
							thead
								tr
									th Ord#
									th Chamado
									th Cliente
									th Data / Hora Abertura
									th Data limite atendimento
									th Técnico Designado
									th Ações
							tbody
								tr(ng-repeat="os in data.listaOs")
									td {{$index + 1}}
									td {{os.codigoChamado}}
									td {{os.cliente.nome}}
									td {{os.dataHoraChamado}}
									td {{os.dataLimiteAtendimento}}
									td {{os.tecResponsavel.nome}}
									td
										a(href="", ng-click="visualizarOS(os.id)")
											em.fa.fa-eye.fa-2x
			.row
				.col-md-12
					uib-pagination.pagination-sm.pull-right(
						total-items='totalItems', 
						ng-model='currentPage', 
						max-size='maxSize', 
						boundary-links='true',
						ng-change='pageChanged()',
						first-text="«",
						previous-text="‹",
						next-text="›",
						last-text="»")